@charset "utf-8";
@use "foundation";
@use "layout";
$layout-width-inner: 1200px;

@import url("https://use.typekit.net/lwz3oxu.css");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

body {
  font-size: 18px;
  font-family: reross-quadratic, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
.main {
  margin-top: 90px;
  @include foundation.mq(sm) {
    margin-top: 60px;
  }
}

/*=====================================================
# top
===================================================== */
.top {
  background: #333333;
  position: relative;
  color: #ffffff;
}
.top-top {
  font-weight: bold;
}
.top-picture {
  padding-top: (650px / 1440px * 100%);
  background: url(/img/img_mv.png) no-repeat top right/75%;

  @include foundation.mq(sm) {
    background-size: 82%;
  }
}
.top-content {
  @include foundation.mq(sm) {
    position: absolute;
    left: 20px;
    top: 20px;
  }
  position: absolute;
  top: 94px;
  left: 178px;

  h1 {
    @include foundation.mq(sm) {
      font-size: 36px;
    }
    @include foundation.mq(md) {
      line-height: 100px;
      font-size: 100px;
    }
    span {
      color: #159741;
    }
  }
  .top-content-text {
    margin-top: 37px;
    font-size: 32px;
    @include foundation.mq(sm) {
      font-size: 14px;
      margin-top: 15px;
    }
  }
  .top-content-color {
    margin-top: 21px;
    font-size: 32px;
    padding: 9px 21px 9px 0;
    background: #159741;

    @include foundation.mq(sm) {
      font-size: 14px;
      margin-top: 13px;
    }
  }
}

/*=====================================================
# concept
===================================================== */
.concept {
  background: #333333;
  color: #fff;
  padding: 120px 0 110px;
  position: relative;

  &::before {
    position: absolute;
    content: "Garden Salad";
    top: 229px;
    left: 0;
    width: 100%;
    height: 280px;
    font-size: 280px;
    font-weight: 400;
    overflow: hidden;
    z-index: 1;
    color: rgba(103, 103, 103, 0.3);
  }

  @include foundation.mq(sm) {
    padding: 78px 0 64px;
  }
}

.top-bottom-message {
  font-size: 30px;
  font-weight: bold;
  text-align: center;

  @include foundation.mq(sm) {
    font-size: 20px;
  }
}
.top-bottom-content {
  line-height: 150%;
  max-width: 493px;
  margin: 48px auto 0;
  text-align: center;
  z-index: 2;

  @include foundation.mq(sm) {
    font-size: 16px;
  }
}
/*=====================================================
# about
===================================================== */
.about {
  padding: 120px 0 150px;
  background: #f2f2f2;

  @include foundation.mq(sm) {
    padding: 64px 25px;
  }
}
.about-head {
  text-align: center;

  p {
    color: #159741;
  }
  h2 {
    font-size: 48px;
    margin-top: 16px;
    font-weight: bold;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -16px;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      height: 2px;
      background: #159741;
    }
  }
}
.about-content {
  margin: 80px auto 0;
  max-width: 1080px;
}
.about-content-list {
  li {
    @include foundation.mq(sm) {
      flex-direction: column;
    }
    @include foundation.mq(md) {
      align-items: center;
    }
    display: flex;
    margin-top: 64px;
    position: relative;
    &:nth-child(1) {
      &::after {
        content: "01";
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        font-size: 288px;
        z-index: 1;
        font-weight: 400;
        @include foundation.mq(sm) {
          font-size: 180px;
        }
      }
    }
    &:nth-child(2) {
      &::after {
        content: "02";
        position: absolute;
        color: #fff;
        font-size: 288px;
        z-index: 1;
        font-weight: 400;
        top: 0;

        @include foundation.mq(md) {
          left: 235px;
        }
        @include foundation.mq(sm) {
          font-size: 180px;
          right: 0;
        }
      }
    }
    &:nth-child(3) {
      &::after {
        content: "03";
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        font-size: 288px;
        z-index: 1;
        font-weight: 400;
        top: 0;

        @include foundation.mq(md) {
          right: 0;
        }
        @include foundation.mq(sm) {
          font-size: 180px;
        }
      }
    }
  }
}
.order1 {
  @include foundation.mq(sm) {
    order: 2;
  }
}
.order2 {
  @include foundation.mq(sm) {
    order: 1;
  }
}

.about-content-img {
  @include foundation.mq(md) {
    flex: 0 1 450px;
  }
  @include foundation.mq(sm) {
    width: 100%;
    margin-top: 32px;
  }
  img {
    width: 100%;
  }
}
.about-content-contents {
  @include foundation.mq(md) {
    margin-left: 67px;
  }
  z-index: 2;

  &.content2 {
    @include foundation.mq(md) {
      margin-left: 0;
      margin-right: 67px;
    }
  }
}
.about-content-contents-title {
  font-size: 30px;
  font-weight: bold;
  span {
    color: #159741;
  }
}
.about-content-contents-text {
  max-width: 400px;
  margin-top: 24px;
  line-height: 27px;
}
/*=====================================================
# sarada-bg
===================================================== */
.sarada-bg {
  background: url(/img/img：サラダ.jpg) no-repeat center center/cover;
  padding-top: (450px /1440px * 100%);
  background-attachment: fixed;
}

/*=====================================================
# menu
===================================================== */
.menu {
  background: #2f2f2f;
  padding: 72px;
  @include foundation.mq(sm) {
    padding: 24px 16px;
  }
}
.menu-inner {
  border: 2px solid #fff;
  padding: 80px 0;
  max-width: 1296px;
  margin: 0 auto;

  .about-head {
    color: #fff;

    p {
      color: #fff;
    }
  }
}
.menu-sub {
  margin-top: 48px;
}
.menu-sub-list {
  display: flex;
  color: #fff;
  justify-content: center;
  li {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
.manager {
  margin-top: 105px;
  @include foundation.mq(sm) {
    margin: 319px 15px 0;
  }
}

.manager-menu {
  @include foundation.mq(md) {
    margin-right: 140px;
    margin-left: auto;
  }
  @include foundation.mq(sm) {
  }
  background: #fff;
  max-width: 544px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -86px;
    right: 464px;
    background: url(/img/img：basil-salad.png) no-repeat center center/cover;
    width: 450px;
    height: 450px;
    @include foundation.mq(sm) {
      top: -80%;
      left: 50%;
      transform: translateX(-50%);
      width: 315px;
      height: 311px;
    }
  }
}
.manager {
  text-align: center;
}
.manager-menu-title {
  @include foundation.mq(sm) {
    padding: 38px 65px 16px;
  }
  background: #159741;
  padding: 9px 50px 15px;
  display: inline-block;
  color: #fff;
  p {
    font-size: 14px;
  }
  .recommend {
    font-size: 24px;
    margin-top: 3px;
  }
}
.manager-menu-name {
  margin-top: 35px;
  font-size: 30px;
  font-weight: 700;
}
.manager-menu-price {
  margin-top: 20px;
  font-size: 40px;
  .price-before {
    font-size: 24px;
  }
  .price-after {
    font-size: 26px;
  }
}
.manager-menu-cal {
  margin-top: 20px;
  padding-bottom: 50px;
}

.another-salada-menu {
  max-width: 1080px;
  margin: 416px auto 0;
  display: flex;
  @include foundation.mq(sm) {
    display: block;
    margin: 309px auto 0;
  }
}
.avocado-salada-content {
  background: #fff;
  flex: 0 1 524px;
  padding: 73px 0 42px;
  text-align: center;
  position: relative;
  @include foundation.mq(sm) {
    margin: 309px 15px 0;
  }
  &::before {
    content: "";
    position: absolute;
    width: 417px;
    height: 434px;
    top: -150%;
    left: 50%;
    transform: translateX(-50%);
    background: url(/img/img：avocad-salad.png) no-repeat center center/cover;
    @include foundation.mq(sm) {
      width: 305px;
      height: 315px;
      top: -100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .avocado-salada-menu-name {
    font-size: 30px;
    font-weight: bold;
  }
  .avocado-salada-menu-cal {
    margin-top: 20px;
  }
}

.chicken-salada-content {
  background: #fff;
  flex: 0 1 524px;
  margin-left: auto;
  text-align: center;
  padding: 73px 0 42px;
  position: relative;
  @include foundation.mq(sm) {
    margin: 309px 15px 0;
  }
  &::before {
    content: "";
    position: absolute;
    width: 417px;
    height: 434px;
    top: -150%;
    left: 50%;
    transform: translateX(-50%);
    background: url(/img/img：chicken-salad.png) no-repeat center center/cover;

    @include foundation.mq(sm) {
      max-width: 305px;
      height: 315px;
      top: -100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .chicken-salada-menu-name {
    font-size: 30px;
    font-weight: bold;
  }

  .chicken-salada-menu-cal {
    margin-top: 20px;
  }
}
.insta-salada {
  max-width: 1080px;
  margin: 80px auto 0;
  background: #fff;
  text-align: center;
  @include foundation.mq(sm) {
    margin: 48px 15px 0;
  }
}
.insta-title {
  padding: 18px 107px;
  background: #159741;
  display: inline-block;
  color: #fff;
}
.insta-text {
  margin-top: 28px;
}
.swiper {
  margin-top: 34px;
  max-width: 972px;
}
.swiper-wrapper {
  @include foundation.mq(sm) {
    flex-wrap: wrap;
  }
}
.swiper-slide {
  @include foundation.mq(md) {
    max-width: 231px;
    margin-right: 16px;
  }
  @include foundation.mq(sm) {
    flex-shrink: 1;
    margin: 10px;
  }
  img {
    @include foundation.mq(sm) {
      width: 100%;
    }
  }
}
.insta-menu-id {
  margin-top: 8px;
}
.insta-menu-btn {
  margin-top: 43px;
  padding-bottom: 52px;

  a {
    padding: 17px 27px;
    border: 1px solid #333333;
    color: #333333;

    &:hover {
      background: #333;
      color: #fff;
    }
  }
}
/*=====================================================
# bg2
===================================================== */
.bg2 {
  background: url(/img/img：店内.png) no-repeat center center/cover;
  padding-top: (450px /1440px * 100%);
  background-attachment: fixed;
}
/*=====================================================
# shop
===================================================== */
.shop {
  padding: 120px 0;
  background: #f2f2f2;
  @include foundation.mq(sm) {
    padding: 64px 0;
  }
}

.map-inner {
  margin-top: 90px;
}
.garden-salada {
  margin-top: 80px;
  display: flex;
  align-items: center;
  @include foundation.mq(sm) {
    display: block;
    padding: 0 15px;
  }
}
.garden-salada-content {
  @include foundation.mq(md) {
    margin-left: 184px;
    margin-right: 123px;
  }
}
.garden-salada-head {
  .garden-salada-main {
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
  }

  .tf {
    font-size: 18px;
  }
  .kana {
    font-size: 18px;
  }
}
.garden-salada-info {
  margin-top: 25px;
  line-height: 36px;
}
.garden-salada-info2 {
  margin-top: 17px;
  line-height: 27px;
}

.garden-salada-img {
  @include foundation.mq(sm) {
    margin-top: 40px;
  }
  margin-left: auto;
}
.post-card {
  margin: 80px auto 0;
  max-width: 1146px;
  background: #fff;
  box-shadow: 0px 4px 20px rgba(161, 159, 159, 0.6);
  position: relative;
  @include foundation.mq(sm) {
    margin: 90px 15px 0;
  }

  &::before {
    content: "";
    background-image: url(/img/img：stamp.png);
    position: absolute;
    background-repeat: no-repeat;
    left: -97px;
    top: -71px;
    width: 288px;
    height: 400px;
    z-index: 2;
    @include foundation.mq(sm) {
    }
  }
}

.card-wrapper {
  padding: 30px 30px 40px 30px;
}
.post-card-inner {
  display: flex;
  @include foundation.mq(sm) {
    display: block;
  }
  .post-card1 {
    background: url(/img/img：オープンテラス.png) no-repeat center center/cover;
    flex: 0 1 629px;
    padding-top: (450px /1078px * 100%);
    position: relative;
  }
  .post-card2 {
    background: url(/img/img：テイクアウト.png) no-repeat center center/cover;
    padding-top: (450px /1078px * 100%);
    flex: 0 1 449px;
  }
}
.post-card-content {
  @include foundation.mq(sm) {
    display: block;
  }
  display: flex;
}
.dear-you {
  margin-top: 27px;
  margin-right: 52px;
}
.post-card-text {
  @include foundation.mq(sm) {
    margin-top: 20px;
  }
  margin-top: 45px;
  max-width: 593px;
  p {
    display: inline;
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 5px;
    position: relative;
    line-height: 40px;
    font-size: 16px;
  }
}

/*=====================================================
# contact
===================================================== */
.contact {
  background: url(/img/img：野菜.png) no-repeat center center/cover;
  padding: 130px 0;
  @include foundation.mq(sm) {
    padding: 64px 0;
  }
}
.contact-inner {
  max-width: 800px;
  background: #f2f2f2;
  margin: 0 auto 0;
  padding: 64px 140px;
  @include foundation.mq(sm) {
    padding: 64px 16px;
    margin: 0 10px;
  }
}
.contact-text {
  margin-top: 42px;
}
.contact-form {
  textarea {
    width: 100%;
    min-height: 160px;
    padding: 13px 22px;
    &:focus {
      border: solid 2px #15974126;
    }
    &:hover {
      border: solid 2px #15974126;
    }
  }
}
.form-input {
  width: 100%;
  padding: 12px 20px;
  outline: none;
  &:focus {
    border: solid 2px #15974126;
  }
  &:hover {
    border: solid 2px #15974126;
  }
}
.contact-item {
  margin-top: 48px;
  & + & {
    margin-top: 32px;
  }
}
.contact-item-title {
  padding-right: 55px;
  position: relative;
  display: inline-block;

  &::after {
    position: absolute;
    content: "必須";
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 12px;
    background: #159741;
    padding: 3px 8px;
    border-radius: 5px;
    color: #fff;
  }
}
.contact-item-input {
  margin-top: 4px;
}
.contact-privacy {
  margin-top: 33px;
  text-align: center;
  a {
    color: #159741;
    border-bottom: 1px solid #159741;
    &:hover {
      opacity: 0.7;
    }
  }
}

.contact-footer-submit {
  margin-top: 40px;
  text-align: center;

  .util-link {
    padding: 15px 100px;
    background: #159741;
    color: #fff;
    &:hover {
      opacity: 0.7;
    }
  }
}
