@charset "utf-8";
@use "foundation";
@use "layout";
$layout-width-inner: 1200px;

@import url("https://use.typekit.net/lwz3oxu.css");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

body {
  font-size: 18px;
  font-family: reross-quadratic, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
.main {
  margin-top: 90px;
  @include foundation.mq(sm) {
    margin-top: 60px;
  }
}
