@use "../foundation";
/*=====================================================
# header
===================================================== */
.header {
  background: #333333;
  height: 90px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  right: 0;
  @include foundation.mq(sm) {
    height: 60px;
  }
}
.header-inner {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  margin-left: 32px;
  margin-top: 20px;
  font-size: 28px;
  @include foundation.mq(sm) {
    font-size: 13px;
    margin-left: 16px;
  }
}
.logo2 {
  color: #159741;
}
.header-left {
  margin-right: 71px;
  @include foundation.mq(sm) {
    margin-right: 16px;
  }
}
.header-list {
  display: flex;
}
.header-item {
  & + & {
    margin-left: 40px;
    @include foundation.mq(sm) {
      margin-left: 20px;
    }
  }
}
.header-item-link {
  color: #fff;
  line-height: 90px;
  position: relative;
  display: inline-block;
  &:hover::after {
    position: absolute;
    bottom: 30px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #159741;
    transition: 0.3s;
    @include foundation.mq(sm) {
      bottom: 20px;
    }
  }

  @include foundation.mq(sm) {
    line-height: 60px;
    font-size: 14px;
  }
}

